@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(135deg, 
    rgba(112, 145, 230, 0.7) 0%,   /* #7091E6 con un poco de transparencia */
    #8697C4 40%,                  /* #8697C4 */
    #ADBBDA 70%,                  /* #ADBBDA */
    #EDE8F5 100%);                /* #EDE8F5 */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


@font-face {
  font-family: 'Lucida Unicode Calligraphy';
  src: url(../public/assets/fonts/LucidaUnicodeCalligraphy.ttf) format('truetype');
}
